body {
  background-color: whitesmoke;
  font-family: "Tajawal", sans-serif;
}

.container {
  width: 90%;
  max-width: 960px;
  margin-top: 10%;
  border: 2px;
  border-radius: 4px;
  box-shadow: 0 1px 1px;
  min-height: 50vh;
  background-color: white;
  padding: 2%;
}

.app-title {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
}

.form-display {
  display: inline;
}

.form-input {
  margin: 2% 0;
  width: 60%;
  height: 1.5rem;
  border: 2px solid;
  border-radius: 4px;
  border-color: #6b5d81;
}

.form-btn {
  height: 1.9rem;
  background-color: #7a08aa;
}

.primary-btn {
  appearance: button;
  width: 30%;
  max-width: 100px;
  backface-visibility: hidden;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  /* font-size: 60%; */
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  /* padding: 0 25px; */
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.primary-btn:disabled {
  cursor: default;
}

.primary-btn:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.forms-container {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2%;
}

.excel-btn {
  padding: 4px;
  background-color: #00964d;
  margin-bottom: 2%;
}

.gsheet-btn {
  padding: 4px;
  background-color: #68f765;
  margin-bottom: 2%;
  color: black;
  text-shadow: 0px 0px 4px #f8f8f8;
}

table {
  border-radius: 5px;
  /* font-size: 1.2rem; */
  /* font-weight: normal; */
  border: none;
  border-collapse: collapse;
  /* flex-wrap: wrap; */
  /* width: 100%;
    max-width: 100%; */
  white-space: break-spaces;
  background-color: white;
}

td,
th {
  text-align: center;
  /* padding: 8px; */
}

td {
  border-right: 1px solid #f8f8f8;
  font-size: 1rem;
}

thead th {
  color: #ffffff;
  /* text-shadow: 0px 2px 1px #2e2d2d; */
  background: #AB6087;
}

thead th:nth-child(odd) {
  color: #2e2d2d;
  background: #59F7B0;
}

tr:nth-child(even) {
  background: #f8f8f8;
}
